@import "../../sass/mixins.scss";

.pokemon-information {
    margin-top: 20px;
    @include flex-row;
    justify-content: space-between;

    .information-detailed {
        flex: 0 1 35%;
        padding-right: 25px;

        .pokemon-name-legendaries {
            font-size: 72px;
            letter-spacing: 4px;
            color: #FDFDFD;
        }

        .pokemon-specialists {
            @include flex-row;
            justify-content: space-between;
        }
    }
}