@import "../../sass/mixins.scss";

.pokemon-collection-container {
    width: 80%;
    margin: auto;
    color: white;

    &:first-of-type {
        margin-top: 20px;
    }

    .collection-title {

        font-weight: 200;
        font-size: 72px;
        letter-spacing: 4px;
        border-bottom: 1px solid gray;
        padding-bottom: 15px;

    }


}