.pokemon-experiences {
    width: 47%;

    .experience-bar {
        width: 100%;
        height: 7px;
        background-color: #EEE;
        border-radius: 17px;
        overflow-x: hidden;


        .experience-fill-bar {

            transition: all ease-in-out 1s;
            width: 10%;
            height: 100%;
            border-radius: 7px;
            background-color: lightgreen;
            box-shadow: 1px 0px 5px 1px #7b7b7b8a;
        }
    }

}