@import "../../sass//colors.scss";
@import "../../sass/mixins.scss";


.navbar {
    background-color: $sharp_yellow;
    padding: 15px 10%;
    width: 100%;

    @include flex-row();
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 20px -6px #757070;
    z-index: 3;

    .nav-items {
        font-family: 'Karla';
        font-size: 20px;
        list-style-type: none;
        @include flex-row();
        width: 57%;
        justify-content: space-between;
        align-items: center;
    }

    a {
        text-decoration: none;
        color: black;
    }

    .active {
        border-bottom: 2px solid black;
        ;
    }
}