@import "../../sass/colors.scss";

.search {
    width: 75%;
    background-color: $light_gray;
    border-radius: 20px;
    padding: 15px 20px;
    margin: 20px auto auto;
    border: none;


    &:focus {
        outline: none;
        border: none;
    }

    &::placeholder {}
}