@import "../../sass/mixins.scss";
@import "../../sass//colors.scss";



.pokemons {
    width: 100%;
    padding: 10px 20px;
    @include flex-row;
    justify-content: space-between;
    align-content: space-between;




}