@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
*::after,
*::before,
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}
